*.dSYM/
*.out
a.out
gsl-1.16/
build/
a.out.dSYM/
*.gz
*.gcda
*.gcno
*.gcov
*.o
*.bkup
src/shell/autodemo/
src/shell/autom4te.cache/
src/shell/.deps
src/shell/.libs
src/shell/aclocal.m4
src/shell/compile
src/shell/config.log
src/shell/config.status
src/shell/configure
src/shell/depcomp
src/shell/install-sh
src/shell/missing
src/shell/test-driver
src/shell/config.guess
src/shell/config.sub
src/shell/configure~
src/shell/configure.ac
src/shell/libdict.la
src/shell/libtool
src/shell/ltmain.sh
src/shell/Makefile.in
src/shell/Makefile
src/dict/.deps/
src/dict/.dirstamp
src/dict/dict.lo
src/dict/keyval.lo